<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.loksarkar"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application
        android:name=".base.BaseApp"
        android:allowBackup="true"
        android:configChanges="layoutDirection|locale"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_knQjgvmfbmHab01g1f3wscobEugGxnKy" /> -->
        <!-- <meta-data android:name="io.branch.sdk.BranchKey.test" android:value="key_test_mbMhgyhkloIplZZo9mXU7kdfAufUCaTV" /> -->


        <!-- &lt;!&ndash; Branch testing (TestMode "true" to simulate fresh installs on dev environment) &ndash;&gt; -->
        <!-- <meta-data android:name="io.branch.sdk.TestMode" android:value="false" /> -->


        <!-- <meta-data android:name="io.branch.sdk.auto_link_disable" android:value="false"/> -->


        <!-- <uses-library android:name="android.test.runner" /> -->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.loksarkar.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>


        <!--<meta-data-->
            <!--android:name="com.google.android.gms.ads.APPLICATION_ID"-->
            <!--android:value="ca-app-pub-7793510975061206~8275052408"/>-->

        <!--<meta-data-->
        <!--android:name="com.google.android.gms.ads.APPLICATION_ID"-->
        <!--android:value="ca-app-pub-3940256099942544~3347511713"/>-->

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7708242320218497~5623531737" />

        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Branch URI scheme -->
            <intent-filter>
                <data
                    android:host="open"
                    android:scheme="loksarkar" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- Branch App Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="loksarkar.app.link"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DashBoardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.BaseActivity"
            android:screenOrientation="portrait">

            <!-- &lt;!&ndash; Branch URI scheme &ndash;&gt; -->
            <!-- <intent-filter> -->
            <!-- <data android:scheme="loksarkar" android:host="open" /> -->
            <!-- <action android:name="android.intent.action.VIEW" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <category android:name="android.intent.category.BROWSABLE" /> -->
            <!-- </intent-filter> -->


            <!-- &lt;!&ndash; Branch App Links &ndash;&gt; -->
            <!-- <intent-filter android:autoVerify="true"> -->
            <!-- <action android:name="android.intent.action.VIEW" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <category android:name="android.intent.category.BROWSABLE" /> -->
            <!-- <data android:scheme="https" android:host="loksarkar.app.link" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name=".activities.RegistrationListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CommitteeRegistrationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.WebviewActivty"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Facility"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ComplaintsList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SignupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".activities.SigninActivity" />

        <service
            android:name=".firebase.AppFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.MediaDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MediaBulletinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MediaBulletinListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MediaRegistration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LocalizationAcitivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".activities.SocialMediaActivity" />

        <!-- <receiver android:name=".receivers.InstallReferrerReceiver" -->
        <!-- android:exported="true" -->
        <!-- android:enabled="true" -->
        <!-- android:permission="android.permission.INSTALL_PACKAGES"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.android.vending.INSTALL_REFERRER" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <receiver
            android:name=".receivers.InstallReferrerReceiver"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.ReferralActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".activities.FragmentContainerActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activities.ChromeTabActivity"/>
    </application>

</manifest>
